.heading{
    width: 100%;
    text-align: left;
    padding: 20px;
}

.heading button {
    float: right;
    border: 1px solid white;
}

.heading h3 {
    display: inline;
}

.heading button {
    float: right;
    border: 1px solid white;

}

h4 {
    background-color: gray;
    color: white;
    line-height: 2px;
    position: sticky;
}

canvas {
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
}